# Omen Agent
# Git Ignored Files

# Build Output
.dotnet/
src/*/bin/
src/*/obj/

# GUI build output
src/omenctl.Gui/src-tauri/target/
src/omenctl.Gui/node_modules/
src/omenctl.Gui/dist/
src/omenctl.Gui/bin/

# Diagnostics build output
diagnostics/omenctl.Diagnostics/bin/
diagnostics/omenctl.Diagnostics/obj/

# Local hardware diagnostics data
diagnostics/8BAB/
diagnostics/unknown/
log-*

.claude/